<?xml version="1.0" ?>
<launch>    

  <param name="robot_id"                 value="1"/>

  <param name="gazebo"                   value="false"          type="bool"/>
  <param name="gazebo_robot_name"        value="robotis_op3"/>

  <!-- Movement package -->
  <include file="$(find movement_pkg)/launch/movement.launch"/>
    
  <!-- Vision package -->
  <include file="$(find vision_pkg)/launch/vision.launch"/>

</launch>
