<?xml version="1.0" ?>
<launch>    

  <arg name="robot_id"                  value="2"/>
  
  <arg name="quadrant"                  value="3"/>

  <param name="gazebo"                  value="false"          type="bool"/>
  <param name="gazebo_robot_name"       value="robotis_op3"/>

  <!-- Movement package -->
  <include file="$(find movement_pkg)/launch/movement.launch">
    <arg name="robot_id" value="$(arg robot_id)"/>
    <arg name="quadrant" value="$(arg quadrant)"/>
  </include>
    
  <!-- Vision package -->
  <include file="$(find vision_pkg)/launch/vision.launch">
    <arg name="robot_id" value="$(arg robot_id)"/>
    <arg name="quadrant" value="$(arg quadrant)"/>
  </include>
    
  <!-- Localization package -->
  <include file="$(find localization_pkg)/launch/nav_footstep_planner.launch">
    <arg name="robot_id" value="$(arg robot_id)"/>
    <arg name="quadrant" value="$(arg quadrant)"/>
  </include>

</launch>
